*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background: url("../images/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	position: relative;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(
		189.96% 61.18% at 50% 38.82%,
		rgba(255, 181, 72, 0) 0%,
		rgba(52, 44, 29, 0.80319) 73.22%,
		#08090a 99.74%
	);
}

.header__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__top {
	text-transform: uppercase;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	width: 100%;
}

.header__logo {
	width: 55px;
	height: 55px;
}

.header__logo img {
	max-width: 100%;
	height: auto;
}

.menu__list {
	display: flex;
	list-style: none;
}

.menu__item:not(:last-child) {
	margin-right: 38px;
}

.header__options {
	display: flex;
	align-items: center;
}

.language__select {
	position: relative;
	width: 50px;
}

.select__top {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.select__language {
	margin-right: 5px;
}

.select__arrow {
	transition: all 0.3s;
	height: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.select__arrow img {
	height: auto;
}

.select__arrow.active {
	transform: rotate(90deg);
}

.select__list {
	list-style: none;
	position: absolute;
	top: 22px;
	padding: 11px 21px 11px 8px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 3px;
	right: 0;
	transform: translate(0, 10%);
	opacity: 0;
	transition: all 0.3s;
	pointer-events: none;
	visibility: hidden;
}

.select__list.active {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
	transform: translate(0, 0);
}

.select__item {
	cursor: pointer;
}

.select__text {
	transition: all 0.5s;
}

.select__item:hover .select__text {
	color: #ffb548;
}

.select__item:not(:last-child) {
	margin-bottom: 6px;
}

.select__item.last {
	margin-bottom: 0;
}

.options__line {
	width: 1px;
	height: 38px;
	opacity: 0.5;
	background: #fff;
	margin: 0 25px;
}

.options__platform {
	display: flex;
}

.platform__item:last-child {
	margin-left: 17px;
}

.header__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 237px;
}

.top {
	font-family: "Bebas Neue", cursive;
}

.header__title {
	text-align: center;
	text-transform: uppercase;
}

.top__title {
	font-weight: 400;
	font-size: 80px;
	line-height: 96px;
}

.header__subtitle {
	text-align: center;
}

.top__subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

.button {
	width: 260px;
	height: 60px;
	background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 700;
	color: #1a1917;
	transition: all 0.5s;
}

.button__line {
	width: 1px;
	height: 24px;
	background: #1a1917;
	margin: 0 14px 0 11px;
	transition: all 0.3s;
}

.button {
	margin-top: 28px;
}

.button:hover {
	color: #fff;
}

.button:hover .button__line {
	background: #fff;
}

.header__story {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 50px;
	cursor: pointer;
}

.header__story:hover .story__arrow {
	transform: translateY(10px);
}

.story__text {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.story__arrow {
	transform: translateY(0);
	transition: all 0.3s;
}
